<%= turbo_stream.replace "follow_#{@user.id}" do %>
  <div id="follow_<%= @user.id %>">
    <% if current_user.following?(@user) %>
      <%= button_to 'Unfollow', user_follow_path(@user), method: :delete,
          class: 'px-4 py-2 border border-gray-300 rounded-lg hover:bg-gray-50' %>
    <% else %>
      <%= button_to 'Follow', user_follow_path(@user), method: :post,
          class: 'px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700' %>
    <% end %>
  </div>
<% end %>
